

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:13pt;
  font-family: Roboto, Helvetica, Times New Roman;
}
a:link{
  color:steelblue;
}
a:visited{
  color:purple;
}
a:active{

}
a:hover{

}

.links{
  display: flex;
}



.link{
  margin:20pt;
  padding:20pt;
  width:200pt;

}



#inputFeld{
  height:100%;
  font-size:inherit;
}

.bilderFeld .bruchbildböxchen{
  display: flex;
  height: auto;
  justify-content: center;
  border-radius:10pt;
}

.bilderFeld{
  padding:5pt;
  grid-gap: 4pt;
  display:grid;
  height:80pt;
  grid-template-columns: 18% 20% 20% 20% 20%;
  justify-content: center;

}
#aufgabenFeld p{
  display:grid;
  grid-column-gap: 2pt;
  grid-template-rows: 100%;
  grid-template-columns: 15% 5% 15% 5% 15% 5% 15% 5% 15%;


}
.bruchBox{
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 45% 10% 45%;
  height:80pt;
  border-radius: 10pt;
}
.operatorBox,
.gleichBox{
  display:flex;
  padding:3pt;
  align-items:center;
  justify-content: center;
  height:100%;
  width:100%;
}
.operator{
  padding:6pt;
  margin:0;
  font-size: 38pt;
justify-content: center;
  width:100%;

}


#aufgabenFeld p .bruchBox p{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;

}

#aufgabenFeld p div hr{
  position:relative;
  width:40%;
  height:1px;
  border:1.5px solid;
  border-color:darkgrey;
  border-radius:3pt;
  left: 30%;
  top:50%;
}
.zählerböxchen,
.nennerböxchen{
  font-size:24pt;

}


#bruchteil{
  fill:blue;
}

#innenkreis{
  fill:white;
}
#aussenkreis{
  fill:black;
}

.üschrift{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.pic{
  filter: invert(60%);
  width:30pt;
  height: 30pt;
}
.lösungsplace{
  margin:auto;
  /*justify-content:center;*/
  width: 100%;
  height:auto;
  display:grid;
  padding:5pt;
  grid-gap:3pt;
  grid-template-columns:25% 25% 25% 25%;
}

foreignObject{
  pointer-events: none;
}

.printArea{
  width:100%;
}


.myeqn.math{
  zoom: .6;
  -moz-transform: scale(.6);

}
.mathe{
  background-color:green;
}
/* die scrollbars ewerden in den 4 elementen eingestellt:*/
/***** width*/
::-webkit-scrollbar {
  /*width: 10px;*/
  height:10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background:  darkgrey;
  border-radius:5px;
}
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.padding{
  padding: 5pt;
}

/*TABELLE*/
.tabelle{
   border-collapse: collapse;
   position:relative;
   margin:1%;
   width:97%;
   pointer-events: none;
}
#taBelle .tab{
  width:25%;
  height:53px;
  text-align:center;
}
.tab{
  width:25%;
  height:53px;
  text-align:center;
}
.zeile2, .zeile3, .zeile4{
  border-top:4px solid #A9A9A9	;

}
.spalte2,
.spalte3,
.spalte4{
    border-left:4px solid #A9A9A9	;
}


.blackMuster{background:
  linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
linear-gradient(63deg, transparent 74%, #999 78%),
linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
#444;
background-size: 16px 48px;

}
.black{  background-color: hsl(2, 57%, 45%);
  background-image:  repeating-linear-gradient(
    transparent,    transparent 8.5%,    rgba(0,0,0,.4) 9.5%, /*    kleinere Zahl:verlauf rechte linie nach rechts  BREITE   */
    rgba(0,0,0,.4) 5%,    transparent 8.5%,    transparent 12%,  /*    kleinere Zahl:verlauf linke linie nach links     */
    rgba(0,0,0,.4) 8.5%,    rgba(0,0,0,.4) 5%,  transparent 12.5%,
  transparent 20%, /*breite hellroter bereich?*/
  rgba(0,0,0,.5) 4%,  /*Verlauf dunkel/hellrot rechts?*/
  rgba(0,0,0,.5) 31%, /*rechte linie wird dicker?*/
  rgba(255,255,255,.2) 30%,
  rgba(255,255,255,.2) 31.5%, /*weißer bereich?..rechts! dicke* 32 und kleiner is dick, verläuft nach links*/
  rgba(0,0,0,.5) 31%,/*rechte linie verlauf nach links?*/
  rgba(0,0,0,.5) 33.5%,   /*linke linie dick?* bei größerer Zahl wird der mittlere Streifen dicker. bei ca 40% ist weiße linie weg, unter 30 ist sie sehr dick./
  rgba(255,255,255,.2) 32%,/*linke linie verlauf?*/
  rgba(255,255,255,.2) 34%, /*linke weiße linie, größer wird sehr dick , kleiner verschwindet?*/
  rgba(0,0,0,.5) 30%,/*nichts?*/
  rgba(0,0,0,.5) 50%,/*breitere dunkle linien, gesamtbreite?*/
  transparent 25%),
/*senkrechte Linien:*/
  repeating-linear-gradient(250deg,    transparent,    transparent 8.5%,
    rgba(0,0,0,.4) 9.5%, /*    kleinere Zahl:verlauf rechte linie nach rechts  BREITE   */
    rgba(0,0,0,.4) 5%,    transparent 8.5%,    transparent 12%,  /*    kleinere Zahl:verlauf linke linie nach links     */
    rgba(0,0,0,.4) 8.5%,    rgba(0,0,0,.4) 5%,  transparent 12.5%,
  transparent 20%, /*breite hellroter bereich?*/
  rgba(0,0,0,.5) 4%,  /*Verlauf dunkel/hellrot rechts?*/
  rgba(0,0,0,.5) 31%, /*rechte linie wird dicker?*/
  rgba(255,255,255,.2) 30%,  rgba(255,255,255,.2) 31.5%, /*weißer bereich?..rechts! dicke* 32 und kleiner is dick, verläuft nach links*/
  rgba(0,0,0,.5) 31%,/*rechte linie verlauf nach links?*/
  rgba(0,0,0,.5) 33.5%,   /*linke linie dick?* bei größerer Zahl wird der mittlere Streifen dicker. bei ca 40% ist weiße linie weg, unter 30 ist sie sehr dick./
  rgba(255,255,255,.2) 32%,/*linke linie verlauf?*/
  rgba(255,255,255,.2) 34%, /*linke weiße linie, größer wird sehr dick , kleiner verschwindet?*/
  rgba(0,0,0,.5) 30%,/*nichts?*/
  rgba(0,0,0,.5) 50%,/*breitere dunkle linien, gesamtbreite?*/
  transparent 25%),
  /*schmale mini- Linien:*/
  repeating-linear-gradient(125deg,
  transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px,
  transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
  }
.whiten{background-color:white;}
.lightlightgrey{background-color: #A9A9A9;}
.verydarkgrey{  background-color: #101010;}
.darkgrey{  background-color:	#202020;}
.lightgrey{  background-color: #282828;}
.lightergrey{  background-color: #303030;}

.verydarkblue{background-color:#0B0936;}
.darkblue{  background-color:#1F1E4D;}
.lightblue{background-color: #3D3B70;}
.lighterblue{ background-color:#605E8C;}

.verydarklila{background-color: #605E8C;}
.darklila{background-color: #8C5E73;}
.lightlila{background-color: #5E8C77;}
.lighterlila{background-color: #8A8C5E;}

.green{  background-color:#0A450F;}
.red{  background-color:#750900;}
.blue{  background-color:#262F73;}
.orange{  background-color:#B78800;}

.lila{  background-color:purple;}

.greentext{  color:green;}
.redtext{  color:red;}
.bluetext{  color:#0751c6;}
.orangetext{  color:orange;}

.lila{  color:purple;}
.yellow{background-color: yellow;}

.schwarz{color:black;}
.weißgrau{color:darkgrey;}

.rund{  border-radius: 5pt;}

button{
 padding: 3px 3px;
 text-align:center;
 border: 2px solid #4CAF50; /* Green */
 border-radius:5px;
 height:30pt;

}
button:hover{
  background-color:red;
  color:white;
}

button .pic{
  height:100%;
  width:auto;
}

h1{
	text-align:center;
	font-size:20pt;
  width=100%;
}
h2{
	text-align:center;
	font-size:18pt;
  width=100%;
}
h3{
	text-align:left;
	font-size:16pt;
}

.flex-wrap{
  display:flex;
  flex-wrap:wrap;
}
.flex-behälter{
  display:flex;
}
.fh{
  height:flex;
}

.page{
    color:darkgrey;
}
.grid{
  display:grid;
}
.menu{
    grid-template-columns:23% 80%;
    height:35pt;
}
.aufgabenübersicht{
/*  font-size: 16pt;*/
  flex-grow: column;
  overflow:auto;
}
.menüicon{
  padding:3pt;
}
.images{
  opacity:1;
  width:100%;
}
/*Elemente der Aufgabenübersicht (links bzw oben)*/
.menüicon:hover {
 background-color: yellow;
}

.menüitem1{
  flex-direction: row;
}
.menüitem2{
    flex-direction: row-reverse;
}
.rechtepage {
  width: 90%;
  height:90%;
}
.menu,
.section,
.lös{
  width: 100%;
}
/*Buchstaben-Div-Breite*/
.überschrift{
width:6%;
}
.auftragsText{
	width: 94%;
}
/*VierfelderTafel*/
.gridContainer{
  height:250px;
  display:grid;
  grid-gap:0pt;
  grid-template-columns:100%;
  grid-template-rows:13% 87%;
}
.gridFenster{
  margin:auto;
  /*justify-content:center;*/
  width: 100%;
	height:100%;
	display:grid;
	padding:5pt;
	grid-gap:3pt;
	grid-template-columns:24% 24% 24% 24%;
	grid-template-rows:23.5% 24% 24% 24%;
}
DIV.intro{	display:flex;
height:100%;

align-items:center;
justify-content:center;
}
DIV.intro p{  margin: 0;
	text-align:center;
    }
    /* Baumdiagramm:*/
.svg{
  pointer-events: fill;
  position: relative;
  left: 0;
  top: 0;
  align-content: center;
}
.lösungen{
  height:10%;
  width:100%;
}
.lösung{width:50%;}



/* schmaler desktop/ Handy hochkant*/
@media  screen and (max-width:450px){
  body {
	width:100%;
  }
 *{
        font-size:16pt;
  }
  h1{
  	font-size:20pt;
  }
  h2{
  	font-size:18pt;
  }
  h3{
  	  font-size:16pt;
  }
  .c{width:100%;
  }
  .aufgabenübersicht{
    flex-direction:column;
    height:40pt;
    width:100%;
  }
  .menüicon,
  .images{
    height:100%;
    width:auto;
  }
  .rechtepage,
  .main{width:100%;}
  .lösungsplace{
    height: 70pt;
  }

  .bilderFeld .bruchbildböxchen svg{
    height:80pt;
  }
  .bilderFeld .bruchbildböxchen{
    height: 80pt;
  }
  .bilderFeld{
    height:80pt;
  }



}



/* Tablet Styles oder handy breitbild*/
@media  screen and (min-width: 450px)and (max-width: 961px) {
  *{
         font-size:14pt;
   }
   h1{
   	font-size:20pt;
   }
   h2{
   	font-size:18pt;
   }
   h3{
   	  font-size:16pt;
   }
  .main,
  .aufträge,

  {
	  width:100%;
  }

.rechtepage{
  flex:7;

}
  .aufgabenübersicht{
    width:40pt;
    flex-direction:column;
  }

  .innerpage1 {
    width:100%;
    flex-direction: column;
  }
.innerpage2{
width:100%;
flex-direction: column;
}
.lösungsplace{
    height: 120pt;
}
.tab{
  font-size:6pt;
  height:22pt;
}
}

/* Desktop Styles*/
@media  screen and (min-width: 961px){
  *{
         font-size:13pt;
   }
   h1{
     font-size:20pt;
   }
   h2{
     font-size:18pt;
   }
   h3{
       font-size:16pt;
   }
  .page {
    width: auto;
    margin: 0 auto;
  }
  .aufgabenübersicht{
    width:40pt;
  flex-direction:column;
  }
  .rechtepage{
    flex:auto;

  }
  .innerpage1 {
    width:100%;
    flex-direction: column;
  }

.lösungsplace{
  height: auto;
}
.tab{
  font-size:10pt;
  height:30pt;
}

}
